<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    
    <div class="messages">
        <% results.forEach(function(msg){ %>
            <p><%= msg.mensaje %></p>
        <% }); %>
    </div>
    
    <form action="/chat/<%= receptor %>" method="post">
        <input type="text" name="msg">
        <button type="submit">Send</button>
    </form>
</body>
</html>