<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a chat!!</title>
    <link rel="stylesheet" href="./css/createChat.css">
</head>
<body>
    <nav>
        <ul>
            <div>
                <li><div id="img-profile"></div></li>
                <li><a href="/grupo/AAAAA">General Chat</a></li>
                <li><a href="">Crear grupo</a></li>
            </div>
        </ul>
    </nav>

    <section class="users-select">
        <ul>
            <% results.forEach(function(user){ %>
            <li><%= user.username %> <a href="/chat/<%= user.id %>"><button type="button">Click</button></a> </li>
            <% }); %>
        </ul>
    </section>
</body>
</html>