<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Listado grupos</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="./css/listadoGrupos.css">
    <link rel="shortcut icon" href="./imatges/favicon/lista.png" type="image/x-icon">

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Montserrat;
        }

        *::-webkit-scrollbar {
            width: 5px;
        }

        *::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 6px;
            width: 1px;
        }

        *::-webkit-scrollbar-track {
            background-color: transparent;
        }

        body {
            display: flex;
            justify-content: center;
            background-color: rgb(44, 51, 56);
        }

        #container {
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #grupo {
            width: 30vw;
            height: 30vh;
            background-color: rgb(67, 74, 82);
            border-radius: 5px;
            margin: 10px;
            color: white;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        span h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 20vh;
            text-align: center;
        }

        button {
            display: inline-block;
            margin-bottom: 10vh;
            outline: 0;
            border: 0;
            cursor: pointer;
            background: #000000;
            color: #FFFFFF;
            border-radius: 8px;
            padding: 14px 24px 16px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1;
            transition: background-color 0.5s ease-out;
        }

        button:hover {
            background-color: rgb(145, 151, 155);
        }

        @media (max-width: 576px) {
            #grupo{
                min-width: 50vw;
            }

            h2{
                word-wrap: break-word;
            }
        }
    </style>
</head>

<body>
    <div id="container">
        <% results.forEach(function (grupo) { %>
            <!-- El grupo general no tiene que salir -->
            <% if(grupo.nombre !="General" ){ %>
                <div id="grupo">
                    <span>
                        <h2>
                            <%= grupo.nombre %>
                        </h2>
                    </span>
                    <form action="/entrarGrupo/<%= grupo.cod %>" method="post">
                        <button type="submit">Unirme</button>
                    </form>
                </div>
                <%}%>
                    <% }); %>
    </div>
</body>

</html>