* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 22px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(247, 248, 250); */
    background-color: #222831;
}

.messages {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
}

#emisor-div {
    display: flex;
    justify-content: right;
}

#receptor-div {
    display: flex;
    justify-content: left;
}

.msg {
    margin: 10px;
    max-width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#emisor {
    /* background-color: rgb(113, 129, 139); */
    background-color: #00ADB5;
    color: white;
}

#receptor {
    /* background-color: rgb(113, 129, 139); */
    background-color: #EEEEEE;
    color: black;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    position: relative;
    bottom: 0;
    /* width: 100%;
    height: 50px; */
    color: white;
}


input {
    width: 95vw;
}

button {
    background-image: url(../imatges/icons8-lleno-enviado-30.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}