body{
    margin: 0;
    padding: 0;
}




.nav-ul {
    display: flex;
    justify-content: space-between;
}

ul div{
    display: flex;
    
}

li{
    margin: 10px;
}

.users-select{
    background-color: black;
    height: 100vh;
    width: 30%;
    color: white;
}